<li id="<%= annuncio.id %>">
  <%= link_to gravatar_for(annuncio.utente, size: 50), annuncio.utente %>
  <span class="user"><%= link_to annuncio.utente.nome, annuncio.utente %></span>
  <span class="content"><%= annuncio.descrizione %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(annuncio.created_at) %> ago.
    <% if current_utente?(annuncio.utente) %>
      <%= link_to "delete", annuncio, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>